.noMap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Rubik;
  flex-direction: column;
  font-size: 12px;
}

.dark {
  color: #f6f6f444;
}

.light {
  color: #3a393888;
}

.clockOverlay {
  position: absolute;
  bottom: 80px;
  left: 10px;
  z-index: 1000;
  pointer-events: none;
  background: transparent;
  border: none;
}

