.panel {
  height: 100%;
}
.container {  
  height: calc(100% - 20px);  /* subtract padding */
  padding: 10px;
  font-family: "Rubik", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90px auto;
  grid-template-areas:
    "clock"
    "weather-info";
}

.dark .container {
  color: #f6f6f4;
}

.light .container {
  color: #3a3938;
}

.clock-container {
  grid-area: clock;
}

.weather-info-container {
  grid-area: weather-info;
}